{% extends 'layout.html' %}
{% block head %}
<title>Home Page</title>
{% endblock %}
{% block content %}
<div class=“home”>
    <h3> 🐤 <b>Posts</b></h3>
        {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <h6> @ 
                    <a href="/users/{{post.user_id}}">{{ post.users }}</a>
                </h6>
                <h4><b>{{ post.content }}</b></h4>
                <br>
                <p>{{ post.content|length }}/280 characters</p>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}
